@charset "UTF-8";

.attribution { font-size: 1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {

    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;

    background-color: var(--very-dark-blue);
    color: white;
    font-family: "Overpass", sans-serif;
    font-size: 0.9rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 280px;
    padding: 20px;
    border-radius: 20px;

    margin-top: auto;
    margin-bottom: auto;

    background-image: linear-gradient(to bottom, hsl(213, 19%, 18%), hsl(213, 19%, 12%));
}

div.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    background-color: hsl(213, 19%, 25%);
}

img {
    width: 12px;
}

p {
    color: var(--light-grey);
}


div.rating {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

div.rating button {
    border: none;
    width: 38px;
    height: 38px;

    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    color: var(--light-grey);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 150ms;
}

div.rating .activate {
    background-color: white;
    color: black;  
}

div.rating button:hover {
    background-color: var(--orange);
    color: var(--very-dark-blue);
}





button.submit {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 40px;

    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: var(--very-dark-blue);

    transition: background-color 0.3s;
    cursor: pointer;
}

button.submit:hover {
    background-color: white;
}


main.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main.thank-you img {
    width: 120px;
}

.text-style {
    color: var(--orange);
    background-color: hsl(213, 19%, 18%);
    padding: 8px 15px;
    border-radius: 45px;
}


@media screen and (min-width: 500px) {
    main {
        max-width: 320px;
        padding: 30px;
    }
}
